*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.first-nav{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.first-nav-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: blue; */
    width: 100%;
}

.menu-list{
    position: relative;
    /* background-color: aqua; */
    align-items: center;
    
    
}
.menu-list ul {
    display: flex;

    
   
}
.menu-list ul li{
    list-style: none;
    font-size: 13px;
    margin: 7px;
    
}
.menu-list ul li a{
    text-decoration: none;
    color: #666;
    padding: 1px;
  
}
.rest_arrow{
    text-align: center;
    align-items: center;
    padding: 3px 6px 0 2px;
    background-color: #efefef;
   
}
.sign-in{
    width: auto;
    font-size: 12px;
    color: #938e8e;
    font-weight: 700;
    align-items: center;
    display: block;
    display: flex;
    text-transform: uppercase;
    margin-left: 37px;
    background-color: #d70012;
    padding: 7px 13px;
    margin-right: 6px;
    
}
.signin-text a{
    text-decoration: none;
    color: white;
    margin-right:4px;


}
@media (min-width: 1270px){
    .container {
        max-width: 1270px;
        margin: 0 auto;
        padding: 0;
    }
    }

